:root {
  --nav-bg: rgba(61, 61, 61, 0.75);
  --sections-bg: rgba(33, 33, 33, 1);
  --main-fg: rgba(255, 255, 255, 0.9);
  --light-fg: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-fg);
}

a {
  text-decoration: none;
  color: var(--main-fg);
}

#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-bg);
}

.nav-link {
  padding: 1.25rem 1rem;
  transition: background-color 200ms ease-in-out, border-bottom-color 200ms ease;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  background-color: var(--light-fg);
}

.nav-link.selected {
  border-bottom-color: var(--main-fg);
}

.section {
  padding: 0 3rem;
  background-color: var(--sections-bg);
  min-height: calc(100vh + 4px);
  width: 100%;
  display: grid;
  place-items: center;
  border-bottom: 4px solid var(--light-fg);
}

h2 {
  font-size: 3rem;
  text-align: center;
}

#projects {
  border: none;
}

img {
  border-radius: 50%;
  background-color: var(--nav-bg);
  margin-right: 3rem;
  height: 300px;
}

.section-content {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text p {
  margin: 2rem 0;
  font-size: 1.2rem;
}

.section-text h2 {
  text-align: initial;
}

#find-me {
  padding: 0.5rem 0;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: var(--nav-bg);
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
}

#find-me:hover {
  background-color: var(--light-fg);
}

#find-me svg {
  margin-left: 0.5rem;
  height: 2rem;
  color: var(--main-fg);
}

@media (max-width: 895px) {
  .section-content,
  .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 250px;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
