:root {
  --nav-bg: rgba(61, 61, 61, 0.75);
  --sections-bg: rgba(33, 33, 33, 1);
  --main-fg: rgba(255, 255, 255, 0.9);
  --light-fg: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-fg);
}

a {
  text-decoration: none;
  color: var(--main-fg);
}

/* ---------- Navbar ---------- */

#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-bg);
}

.nav-link {
  padding: 1rem 1rem;
  transition: background-color 200ms ease-in-out, border-bottom-color 200ms ease;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  background-color: var(--light-fg);
}

.nav-link.selected {
  border-bottom-color: var(--main-fg);
}

/* ---------- Sections ---------- */

.section {
  padding: 0 3rem;
  background-color: var(--sections-bg);
  min-height: calc(100vh + 4px);
  width: 100%;
  display: grid;
  place-items: center;
  border-bottom: 4px solid var(--light-fg);
}

h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

#projects {
  border: none;
}

#me-img {
  border-radius: 50%;
  background-color: var(--nav-bg);
  margin-right: 3rem;
  height: 300px;
}

.section-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- About me section ---------- */

#about-me .section-text p {
  margin: 2rem 0;
  font-size: 1.2rem;
}

#about-me .section-text h2 {
  text-align: initial;
}

#find-me {
  padding: 0.5rem 0;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: var(--nav-bg);
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
}

#find-me:hover {
  background-color: var(--light-fg);
}

#find-me img {
  margin-left: 0.5rem;
  height: 2rem;
}

/* ---------- Technologies section ---------- */

#techs {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#techs .section-content {
  flex-direction: column;
}

#techs .section-content h2 {
  margin-bottom: 2rem;
}

.tech-section {
  width: 100%;
}

.tech-section h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.tech-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tech-content figure {
  margin-bottom: 1rem;
}

.tech-content img {
  height: 6rem;
}

.rounded-icon {
  border-radius: 7px;
}

.light-bg-icon {
  background-color: var(--main-fg);
  padding: 0.4rem;
}

.tech-content figure figcaption {
  text-align: center;
  margin-top: 0.25rem;
  font-size: 1.25rem;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.tech-content figure:hover figcaption {
  opacity: 1;
}

#python-figcaption {
  background: rgb(54,113,162);
  background: linear-gradient(120deg, rgba(54,113,162,1) 20%, rgba(255,215,83,1) 100%); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#html-figcaption { color: #E44D26; }

#css-figcaption { color: #264DE4; }

#js-figcaption { color: #F7DF1E; }

#fastapi-figcaption { color: #05998B; }

#selenium-figcaption { color: #2CB134; }

#react-figcaption { color: #00D8FF; }

/* ---------- Media queries ---------- */

@media (max-width: 895px) {
  .section-content,
  #about-me .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #me-img {
    height: 250px;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
